html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #222;
    color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  margin: 2rem;
}

.backtohome {
  position: fixed;
  margin-top: 50px;
}

@media (max-width: 700px) {
	.backtohome {
    position: fixed;
		margin-left: -50px;
	}
}
