.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 0;
}

.sectionHead {
  text-align: left;
  font-size: 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.text {
  padding: 10px 0;
}

.info {
  width: 50%;
  padding-top: 50px;
}

.name {
  font-size: 2rem;
  padding: 0;
  margin: 5px 0;
}

.alias {
  color: #b86633;
}

@media (max-width: 1400px) {
  .info {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .info {
    width: 90%;
  }
}
